Repository homebridge/homebridge, changes with the labels that .github/labeler.yml gives for each.
All labels: website, enhancement, workflow

.github/labeler.yml:

# Add 'website' to any changes to website files
website:
  - website/**/*
  - ./index.html
  - ./CNAME

# Add 'enhancement' to any file changes within 'lib' folder/subfolders and also main repo files
enhancement: 
  - lib/**/*
  - bin/**/*
  - ./index.js
  - ./package.json
  - ./pakcage-lock.json
  - ./README.md
  - ./config-sample.json
  
# Add 'workflow' to any changes within 'workflow' folder or any subfolders
workflow:
  - .github/workflows/**/*

Update package.json
  package.json
Labels: enhancement

update package-lock.json
  package-lock.json
Labels: none

Update the way AccessoryInformationService is merged
  lib/server.js
Labels: enhancement

Execute publish job only on the homebridge repository
  .github/workflows/npmpublish-beta.yml
  .github/workflows/npmpublish.yml
Labels: workflow

Bump hap-nodejs to v0.5.9
  package-lock.json
  package.json
Labels: enhancement

Bump hap-nodejs to v0.5.9 (#2475)
  package-lock.json
  package.json
Labels: enhancement

ensure characteristic exists before attempting to updateValue
  lib/server.js
Labels: enhancement

Update npmpublish-beta.yml
  .github/workflows/npmpublish-beta.yml
Labels: workflow

Update npmpublish.yml
  .github/workflows/npmpublish.yml
Labels: workflow

Delete package-lock.json
  package-lock.json
Labels: none

Setup typescript project, eslint and prettier
  .eslintrc
  .github/workflows/npmcheck-pr.yml
  .github/workflows/npmpublish-beta.yml
  .github/workflows/npmpublish.yml
  .gitignore
  jest.config.js
  package-lock.json
  package.json
  src/api.ts
  src/bridgeSetupManager.ts
  src/bridgeSetupSession.ts
  src/cli.ts
  src/logger.ts
  src/platformAccessory.ts
  src/plugin.ts
  src/server.ts
  src/user.ts
  src/util/mac.ts
  src/version.ts
  tsconfig.json
Labels: enhancement, workflow

Update npmpublish-beta.yml
  .github/workflows/npmpublish-beta.yml
Labels: workflow

Update npmpublish.yml
  .github/workflows/npmpublish.yml
Labels: workflow

package-lock.json
  package-lock.json
Labels: none

Create nodejs.yml
  .github/workflows/nodejs.yml
Labels: workflow

node-version: [10.x, 12.x, 13.x]
  .github/workflows/nodejs.yml
Labels: workflow

Update nodejs.yml
  .github/workflows/nodejs.yml
Labels: workflow

Update npmpublish-beta.yml
  .github/workflows/npmpublish-beta.yml
Labels: workflow

Update npmpublish.yml
  .github/workflows/npmpublish.yml
Labels: workflow

Update nodejs.yml
  .github/workflows/nodejs.yml
Labels: workflow

Update nodejs.yml
  .github/workflows/nodejs.yml
Labels: workflow

Update nodejs.yml
  .github/workflows/nodejs.yml
Labels: workflow

Update npmpublish.yml
  .github/workflows/npmpublish.yml
Labels: workflow

Update npmpublish-beta.yml
  .github/workflows/npmpublish-beta.yml
Labels: workflow

Migrate project to Typescript
  .eslintrc
  .gitignore
  bin/homebridge
  package-lock.json
  package.json
  src/api.ts
  src/bridgeSetupManager.ts
  src/bridgeSetupSession.ts
  src/cli.ts
  src/index.ts
  src/logger.ts
  src/platformAccessory.ts
  src/plugin.spec.ts
  src/plugin.ts
  src/server.ts
  src/setupmanager/bridgeSetupApi.ts
  src/setupmanager/bridgeSetupManager.ts
  src/setupmanager/bridgeSetupSession.ts
  src/types/qrcode-terminal.d.ts
  src/user.ts
  src/util/mac.ts
  src/version.ts
Labels: enhancement

Migrate project to Typescript
  .eslintrc
  .gitignore
  bin/homebridge
  package-lock.json
  package.json
  src/api.ts
  src/bridgeSetupManager.ts
  src/bridgeSetupSession.ts
  src/cli.ts
  src/index.ts
  src/logger.ts
  src/platformAccessory.ts
  src/plugin.spec.ts
  src/plugin.ts
  src/server.ts
  src/setupmanager/bridgeSetupApi.ts
  src/setupmanager/bridgeSetupManager.ts
  src/setupmanager/bridgeSetupSession.ts
  src/types/qrcode-terminal.d.ts
  src/user.ts
  src/util/mac.ts
  src/version.ts
Labels: enhancement

Setup typescript project, eslint and prettier
  .eslintrc
  .github/workflows/npmcheck-pr.yml
  .github/workflows/npmpublish-beta.yml
  .github/workflows/npmpublish.yml
  .gitignore
  jest.config.js
  package-lock.json
  package.json
  src/api.ts
  src/bridgeSetupManager.ts
  src/bridgeSetupSession.ts
  src/cli.ts
  src/logger.ts
  src/platformAccessory.ts
  src/plugin.ts
  src/server.ts
  src/user.ts
  src/util/mac.ts
  src/version.ts
  tsconfig.json
Labels: enhancement, workflow

Update npmpublish.yml
  .github/workflows/npmpublish.yml
Labels: workflow

Update npmpublish-beta.yml
  .github/workflows/npmpublish-beta.yml
Labels: workflow

Update nodejs.yml
  .github/workflows/nodejs.yml
Labels: workflow

Update node workflows (#2479)
  .github/workflows/nodejs.yml
Labels: workflow

Enabling support to configure Controllers (CameraController, RemoteController)
  src/platformAccessory.ts
Labels: none

Pull zero conf platform loading
  src/api.ts
  src/server.ts
Labels: none

combine on-pr and on-push actions
  .github/workflows/nodejs.yml
  .github/workflows/test.yml
Labels: workflow

fix action
  .github/workflows/test.yml
Labels: workflow

Combine on-PR and on-PUSH GitHub Actions (#2483)
  .github/workflows/test.yml
Labels: workflow

add changelog and contributing.md
  CHANGELOG.md
  CONTRIBUTING.md
Labels: none

Enabling support to configure Controllers (CameraController, RemoteController) (#2480)
  src/platformAccessory.ts
Labels: none

Pull zero conf platform loading (#2481)
  src/api.ts
  src/server.ts
Labels: none

Pulling BridgeSetupManager
  src/api.ts
  src/index.ts
  src/server.ts
  src/setupmanager/bridgeSetupApi.ts
  src/setupmanager/bridgeSetupManager.ts
  src/setupmanager/bridgeSetupSession.ts
Labels: none
