Repository homebridge/homebridge, changes with the labels that .github/labeler.yml gives for each.
All labels: website, enhancement, workflow

1.3.3
  package-lock.json
  package.json
Labels: enhancement

Prepare 1.3.4 beta
  package.json
Labels: enhancement

Upgrade to 0.9.4 beta line and upgrade deve dependencies
  package-lock.json
  package.json
Labels: enhancement

Move to hap-nodejs 0.9.4 release line
  package-lock.json
  package.json
Labels: enhancement

Regenerate docs
  docs/assets/css/main.css
  docs/assets/js/main.js
  docs/assets/js/search.js
  docs/classes/logger.html
  docs/classes/platformaccessory.html
  docs/classes/user.html
  docs/enums/apievent.html
  docs/enums/loglevel.html
  docs/enums/platformaccessoryevent.html
  docs/enums/plugintype.html
  docs/index.html
  docs/interfaces/accessoryconfig.html
  docs/interfaces/accessoryplugin.html
  docs/interfaces/accessorypluginconstructor.html
  docs/interfaces/api.html
  docs/interfaces/bridgeconfiguration.html
  docs/interfaces/dynamicplatformplugin.html
  docs/interfaces/externalportsconfiguration.html
  docs/interfaces/homebridgeconfig.html
  docs/interfaces/homebridgeoptions.html
  docs/interfaces/independentplatformplugin.html
  docs/interfaces/logging.html
  docs/interfaces/platformconfig.html
  docs/interfaces/platformpluginconstructor.html
  docs/interfaces/plugininitializer.html
  docs/interfaces/staticplatformplugin.html
  docs/modules.html
Labels: none

1.3.4
  package-lock.json
  package.json
Labels: enhancement

Support HomeKit Secure Video
  package.json
  src/index.ts
Labels: enhancement

Upgrade dependencies
  CHANGELOG.md
  package-lock.json
  package.json
  tsconfig.json
Labels: enhancement

Regenerate documentation
  docs/.nojekyll
  docs/assets/css/main.css
  docs/assets/highlight.css
  docs/assets/icons.css
  docs/assets/icons.png
  docs/assets/icons@2x.png
  docs/assets/js/main.js
  docs/assets/js/search.js
  docs/assets/main.js
  docs/assets/search.js
  docs/assets/style.css
  docs/assets/widgets.png
  docs/assets/widgets@2x.png
  docs/classes/logger.html
  docs/classes/platformaccessory.html
  docs/classes/user.html
  docs/enums/apievent.html
  docs/enums/loglevel.html
  docs/enums/platformaccessoryevent.html
  docs/enums/plugintype.html
  docs/index.html
  docs/interfaces/accessoryconfig.html
  docs/interfaces/accessoryplugin.html
  docs/interfaces/accessorypluginconstructor.html
  docs/interfaces/api.html
  docs/interfaces/bridgeconfiguration.html
  docs/interfaces/dynamicplatformplugin.html
  docs/interfaces/externalportsconfiguration.html
  docs/interfaces/homebridgeconfig.html
  docs/interfaces/homebridgeoptions.html
  docs/interfaces/independentplatformplugin.html
  docs/interfaces/logging.html
  docs/interfaces/platformconfig.html
  docs/interfaces/platformpluginconstructor.html
  docs/interfaces/plugininitializer.html
  docs/interfaces/staticplatformplugin.html
  docs/modules.html
Labels: none

Run the beta workflow for all beta* branches
  .github/workflows/nodejs-beta.yml
Labels: workflow

1.3.5
  package-lock.json
  package.json
Labels: enhancement

Properly await for plugin initialization.
  src/api.ts
  src/plugin.ts
  src/pluginManager.ts
Labels: none

Add support for ESM modules and async plugin initialiers.
  src/childBridgeFork.ts
  src/plugin.ts
  src/pluginManager.ts
  src/server.ts
Labels: none

Workaround for TypeScript bug.
  src/plugin.ts
Labels: none

1.3.6 beta
  package.json
Labels: enhancement

Add support for ESM modules and async plugin initializers. (#2915)
  src/api.ts
  src/childBridgeFork.ts
  src/plugin.ts
  src/pluginManager.ts
  src/server.ts
Labels: none

Update HAP-NodeJS to v0.9.7
  package-lock.json
  package.json
  src/bridgeService.ts
Labels: enhancement

Update HAP-NodeJS to v0.9.7 (#3008)
  package-lock.json
  package.json
  src/bridgeService.ts
Labels: enhancement

1.3.6
  package-lock.json
  package.json
Labels: enhancement

1.3.6
  package-lock.json
  package.json
Labels: enhancement

Docs 1.3.6
  docs/classes/logger.html
  docs/classes/platformaccessory.html
  docs/classes/user.html
  docs/enums/apievent.html
  docs/enums/loglevel.html
  docs/enums/platformaccessoryevent.html
  docs/enums/plugintype.html
  docs/interfaces/accessoryconfig.html
  docs/interfaces/accessoryplugin.html
  docs/interfaces/accessorypluginconstructor.html
  docs/interfaces/api.html
  docs/interfaces/bridgeconfiguration.html
  docs/interfaces/dynamicplatformplugin.html
  docs/interfaces/externalportsconfiguration.html
  docs/interfaces/homebridgeconfig.html
  docs/interfaces/homebridgeoptions.html
  docs/interfaces/logging.html
  docs/interfaces/platformconfig.html
  docs/interfaces/platformpluginconstructor.html
  docs/interfaces/plugininitializer.html
  docs/interfaces/staticplatformplugin.html
  docs/modules.html
Labels: none

Move to centrally manage Issue form templates and GitHub Action workflows
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/support-request.md
  .github/pull_request_template.md
  .github/workflows/beta-release.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/nodejs-beta.yml
  .github/workflows/nodejs.yml
  .github/workflows/prerelease.js
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  CONTRIBUTING.md
Labels: workflow

Setup test-coverage script
  jest.config.js
  package.json
Labels: enhancement

Move to centrally managed Issue form templates and GitHub Action workflows (#3011)
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/support-request.md
  .github/pull_request_template.md
  .github/workflows/beta-release.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/nodejs-beta.yml
  .github/workflows/nodejs.yml
  .github/workflows/prerelease.js
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  CONTRIBUTING.md
  jest.config.js
  package.json
Labels: enhancement, workflow

Fix spelling in beta-release worklfow
  .github/workflows/beta-release.yml
Labels: workflow

Rework preconditions for execution of publish job
  .github/workflows/beta-release.yml
  .github/workflows/release.yml
Labels: workflow

PluginManager would abort plugin loading if one plugin encounters a loading error
  src/pluginManager.ts
Labels: none

1.3.7
  package-lock.json
  package.json
Labels: enhancement

PluginManager would abort plugin loading if one plugin encounters a loading error (#3017)
  src/pluginManager.ts
Labels: none

1.3.8
  package-lock.json
  package.json
Labels: enhancement

Fixing pairing issue with OpenSSL 3.x versions * Upgraded HAP-NodeJS to latest 0.9.8 beta line
  package-lock.json
  package.json
Labels: enhancement

Bump to release
  package-lock.json
  package.json
Labels: enhancement

Update changelog
  CHANGELOG.md
Labels: none

Fixed a crash occurring for any encrypted communication when running NodeJs 17 on linux based machines (#3046)
  CHANGELOG.md
  package-lock.json
  package.json
Labels: enhancement

1.3.9
  package-lock.json
  package.json
Labels: enhancement

Support new Avahi/D-Bus based advertiser
  package-lock.json
  package.json
Labels: enhancement

Add avahi to the list of supported advertisers.
  src/server.ts
Labels: none

Move to forked version of dbus-native for avahi advertiser
  package-lock.json
  package.json
Labels: enhancement

Workaround crash on armv6 platforms running node 16.1+
  package-lock.json
  package.json
Labels: enhancement

Add support for HomeKit Secure Video
  package-lock.json
  src/index.ts
  src/server.ts
Labels: none

.github/labeler.yml:

# Add 'website' to any changes to website files
website:
  - website/**/*
  - ./index.html
  - ./CNAME

# Add 'enhancement' to any file changes within 'lib' folder/subfolders and also main repo files
enhancement: 
  - lib/**/*
  - bin/**/*
  - ./index.js
  - ./package.json
  - ./pakcage-lock.json
  - ./README.md
  - ./config-sample.json
  
# Add 'workflow' to any changes within 'workflow' folder or any subfolders
workflow:
  - .github/workflows/**/*
