Repository homebridge/homebridge, changes with the labels that .github/labeler.yml gives for each.
All labels: website, enhancement, workflow

.github/labeler.yml:

# Add 'website' to any changes to website files
website:
  - website/**/*
  - ./index.html
  - ./CNAME

# Add 'enhancement' to any file changes within 'lib' folder/subfolders and also main repo files
enhancement: 
  - lib/**/*
  - bin/**/*
  - ./index.js
  - ./package.json
  - ./pakcage-lock.json
  - ./README.md
  - ./config-sample.json
  
# Add 'workflow' to any changes within 'workflow' folder or any subfolders
workflow:
  - .github/workflows/**/*

Pulling BridgeSetupManager (#2482)
  src/api.ts
  src/index.ts
  src/server.ts
  src/setupmanager/bridgeSetupApi.ts
  src/setupmanager/bridgeSetupManager.ts
  src/setupmanager/bridgeSetupSession.ts
Labels: none

Bump hap-nodejs to latest beta
  package-lock.json
  package.json
Labels: enhancement

Addressed typo in PlatformAccessory method signature (configureController)
  src/platformAccessory.ts
Labels: none

Added basic test cases
  src/api.spec.ts
  src/platformAccessory.spec.ts
  src/platformAccessory.ts
  src/user.spec.ts
  src/util/mac.spec.ts
  src/version.spec.ts
Labels: none

Bump Homebridge API version to 2.5
  src/api.ts
Labels: none

combine workflows
  .github/workflows/nodejs.yml
Labels: workflow

Delete npmpublish-beta.yml
  .github/workflows/npmpublish-beta.yml
Labels: workflow

Delete npmpublish.yml
  .github/workflows/npmpublish.yml
Labels: workflow

combine workflow
  .github/workflows/nodejs-beta.yml
  .github/workflows/nodejs.yml
Labels: workflow

Added basic test cases (#2484)
  src/api.spec.ts
  src/platformAccessory.spec.ts
  src/platformAccessory.ts
  src/user.spec.ts
  src/util/mac.spec.ts
  src/version.spec.ts
Labels: none

Bump Homebridge API version to 2.5 (#2485)
  src/api.ts
Labels: none

Ensure AccessoryInformation service returned by plugins have set the Name characteristic berfore copying
  src/server.ts
Labels: none

Bump HAP-NodeJS to 0.5.12-beta.3
  package-lock.json
  package.json
Labels: enhancement

Improved general structure of the project (#2489)
  src/api.spec.ts
  src/api.ts
  src/cli.ts
  src/logger.ts
  src/platformAccessory.ts
  src/plugin.spec.ts
  src/plugin.ts
  src/pluginManager.ts
  src/pluginmanager.spec.ts
  src/server.ts
  src/types/qrcode-terminal.d.ts
  src/user.ts
  src/util/mac.spec.ts
Labels: none

Fixed: platform plugins would crash
  src/server.ts
Labels: none

Correctly attach global error handler to the server.start() Promise
  src/cli.ts
Labels: none

Fixing crashes regarding unitialized cached platform accessories
  src/server.ts
Labels: none

Fix warning when publishing external accessories with the wrong identifier appered on the wrong ocasion (:sweat_smile:)
  src/api.ts
Labels: none

Correctly initialize cachedPlatformAccessories array
  src/server.ts
Labels: none

Correctly attach global error handler to the server.start() Promise (#2493)
  src/cli.ts
Labels: none

Add node version check for homebridge required node version
  src/cli.ts
  src/version.spec.ts
  src/version.ts
Labels: none

Ensure that PlatformPlugins still get configured correctly for plugins which register with an mispelled plugin name
  src/pluginManager.ts
  src/pluginmanager.spec.ts
Labels: none

Fixing retrival of plugin identifier translation
  src/pluginManager.ts
Labels: none

Only save cachedAccessories when the array is populated.
  src/server.ts
Labels: none

Automatically pass the current plugin version to the FirmwareRevision characteristic
  package-lock.json
  package.json
  src/platformAccessory.ts
  src/plugin.ts
  src/pluginManager.ts
  src/server.ts
Labels: enhancement

Automatically pass the current plugin version to the FirmwareRevision characteristic (#2494)
  package-lock.json
  package.json
  src/platformAccessory.ts
  src/plugin.ts
  src/pluginManager.ts
  src/server.ts
Labels: enhancement

Reduced some log levels when plugin identifiers aren't matching on api calls
  src/api.ts
  src/pluginManager.ts
  src/server.ts
Labels: none

Add node version check for homebridge required node version (#2495)
  src/cli.ts
  src/version.spec.ts
  src/version.ts
Labels: none

Bump hap-nodejs to latest beta.6
  package-lock.json
  package.json
Labels: enhancement

fix windows scoped plugin resolution
  src/pluginManager.ts
Labels: none

Fix windows @scoped plugin resolution (#2496)
  src/pluginManager.ts
Labels: none

Print warning when a platform is configured multiple times (restoring previous behavior)
  package-lock.json
  package.json
  src/cli.ts
  src/plugin.ts
  src/server.ts
Labels: enhancement

Print warning when a platform is configured multiple times (restoring previous behavior) (#2497)
  package-lock.json
  package.json
  src/cli.ts
  src/plugin.ts
  src/server.ts
Labels: enhancement

Fixed: 'didFinishLaunching' will no longer be blocked by a platform waiting to intiailize their accessories
  src/server.ts
Labels: none

Fixed: 'didFinishLaunching' will no longer be blocked by a platform waiting to intiailize their accessories (#2498)
  src/server.ts
Labels: none

Import hap-nodejs files from one central location only
  src/api.spec.ts
  src/api.ts
  src/cli.ts
  src/platformAccessory.spec.ts
  src/platformAccessory.ts
  src/server.ts
  src/version.ts
Labels: none

Import hap-nodejs files from one central location only (#2500)
  src/api.spec.ts
  src/api.ts
  src/cli.ts
  src/platformAccessory.spec.ts
  src/platformAccessory.ts
  src/server.ts
  src/version.ts
Labels: none

Bring back the deprecated "reachable" property to improve compatibility. We gonna pull that another time.
  src/platformAccessory.ts
Labels: none

Minor api adjustments (#2501)
  src/api.spec.ts
  src/api.ts
  src/index.ts
  src/plugin.ts
  src/server.ts
Labels: none

Update hap-nodejs to the latest release v0.6.0
  package-lock.json
  package.json
Labels: enhancement
