Repository homebridge/homebridge, changes with the labels that .github/labeler.yml gives for each.
All labels: website, enhancement, workflow

.github/labeler.yml:

# Add 'website' to any changes to website files
website:
  - website/**/*
  - ./index.html
  - ./CNAME

# Add 'enhancement' to any file changes within 'lib' folder/subfolders and also main repo files
enhancement: 
  - lib/**/*
  - bin/**/*
  - ./index.js
  - ./package.json
  - ./pakcage-lock.json
  - ./README.md
  - ./config-sample.json
  
# Add 'workflow' to any changes within 'workflow' folder or any subfolders
workflow:
  - .github/workflows/**/*

remove close handler when stopping child bridge
  package.json
  src/childBridgeService.ts
Labels: enhancement

Add support for stopping / starting a child bridge, IPC events for pairing (#3139)
  package.json
  src/childBridgeFork.ts
  src/childBridgeService.ts
  src/ipcService.ts
  src/server.ts
Labels: enhancement

Fix ESM detection.
  src/plugin.ts
Labels: none

Linted code.
  src/plugin.ts
Labels: none

Fix ESM detection. (#3165)
  src/plugin.ts
Labels: none

do not load homebridge ui plugin when running in service mode
  src/server.ts
Labels: none

update no plugins found message
  src/pluginManager.ts
Labels: none

update changelog
  CHANGELOG.md
Labels: none

1.5.0
  package.json
Labels: enhancement

suppress warning generated from running npm -g prefix
  src/pluginManager.ts
Labels: none

discord notifications for wiki changes
  .github/workflows/wiki-change-notification.yml
Labels: workflow

discord notifications for wiki changes - ignore contributors
  .github/workflows/wiki-change-notification.yml
Labels: workflow

update wiki notification action
  .github/workflows/wiki-change-notification.yml
Labels: workflow

Upgrade hap-nodejs to v0.10.4
  package-lock.json
  package.json
Labels: enhancement

add option to override firmware on bridge
  config-sample.json
  src/bridgeService.ts
  src/childBridgeService.ts
Labels: enhancement

1.5.1
  package-lock.json
  package.json
Labels: enhancement

Upgrade to hap-nodejs 0.11.0 beta channel
  package-lock.json
  package.json
Labels: enhancement

Support resolved mDNS advertiser
  src/server.ts
Labels: none

Support resolved mDNS advertiser (#3260)
  src/server.ts
Labels: none

Bump hap-nodejs beta channel
  package-lock.json
  package.json
Labels: enhancement

Workaround hap-nodejs beta issues
  src/platformAccessory.ts
Labels: none

Update to provide compatibility with hap-nodejs 0.11.0
  package-lock.json
  package.json
  src/index.ts
  src/platformAccessory.ts
Labels: enhancement

Update to provide compatibility with hap-nodejs 0.11.0 (#3263)
  package-lock.json
  package.json
  src/index.ts
  src/platformAccessory.ts
Labels: enhancement

Switch to hap-nodejs v0.11.0 release channel
  package-lock.json
  package.json
Labels: enhancement

1.6.0
  package-lock.json
  package.json
Labels: enhancement

Upgrade to hap-nodejs 1.0.0 beta channel
  package-lock.json
  package.json
Labels: enhancement

Update src/platformAccessory.ts
  src/platformAccessory.ts
Labels: none

Update README.md
  README.md
Labels: enhancement

Add api server using express
  server/server.js
Labels: none

Add api server using express
  package-lock.json
  package.json
  server/routes/router.js
  server/server.js
Labels: enhancement

Add switch on request
  package-lock.json
  package.json
  server/api/auth.js
  server/api/switch.js
  server/routes/router.js
  server/server.js
Labels: enhancement

Add auth token & server configuration
  .gitignore
  package-lock.json
  package.json
  server/api/auth.js
  server/api/switch.js
  server/routes/router.js
  server/server.js
Labels: enhancement

Add outlet status check & on/off
  server/api/outlet.js
  server/routes/router.js
  server/server.js
  server/static/index.js
Labels: none

Create config.json
  server/api/config.json
Labels: none

Add Request button
  server/public/index.html
  server/routes/router.js
  server/server.js
  server/static/index.js
Labels: none

Add auth token & modified configuration
  .gitignore
  server/api/auth.js
  server/api/config.json
  server/api/outlet.js
  server/api/switch.js
  server/public/index.html
  server/routes/router.js
Labels: none

Create README.md
  server/README.md
Labels: none

Update README.md
  server/README.md
Labels: none

Update README.md
  server/README.md
Labels: none

Update README.md
  README.md
Labels: enhancement
