Repository homebridge/homebridge, changes with the labels that .github/labeler.yml gives for each.
All labels: website, enhancement, workflow

1.3.0
  package-lock.json
  package.json
Labels: enhancement

update hap-nodejs, fix possible circular JSON structure when spawning child bridges
  package-lock.json
  package.json
  src/bridgeService.ts
  src/childBridgeService.ts
Labels: enhancement

bump hap-nodejs
  package-lock.json
  package.json
Labels: enhancement

bump hap-nodejs to 0.9.2-beta.5
  package-lock.json
  package.json
Labels: enhancement

bump hap-nodejs to 0.9.2-beta.6
  package-lock.json
  package.json
Labels: enhancement

Add files via upload
  .github/workflows/stale.yml
Labels: workflow

add dependabot
  .github/dependabot.yml
Labels: none

Delete stale.yml
  .github/stale.yml
Labels: none

update stale
  .github/workflows/stale.yml
Labels: workflow

Delete dependabot.yml
  .github/dependabot.yml
Labels: none

Update stale.yml
  .github/workflows/stale.yml
Labels: workflow

Update stale.yml
  .github/workflows/stale.yml
Labels: workflow

Update stale.yml
  .github/workflows/stale.yml
Labels: workflow

Update Workflow (#2829)
  .github/stale.yml
  .github/workflows/stale.yml
Labels: workflow

hap-nodejs@0.9.2-beta.7
  package-lock.json
  package.json
Labels: enhancement

hap-nodejs@0.9.2-beta.10
  package-lock.json
  package.json
Labels: enhancement

update changelog
  CHANGELOG.md
Labels: none

1.3.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: enhancement

multiple accessories in a child bridge
  package.json
  src/childBridgeFork.ts
  src/childBridgeService.ts
  src/server.ts
Labels: enhancement

ignore slow characteristic warnings for external accressories
  src/bridgeService.ts
  src/childBridgeFork.ts
Labels: none

add basic unit test for server
  .gitignore
  package.json
  src/server.spec.ts
Labels: enhancement

add basic unit test for server
  src/server.spec.ts
Labels: none

update changelog
  CHANGELOG.md
Labels: none

update changelog
  CHANGELOG.md
Labels: none

1.3.2
  package-lock.json
  package.json
Labels: enhancement

update changelog
  CHANGELOG.md
Labels: none

hap-nodejs 0.9.3-beta.1
  package-lock.json
  package.json
Labels: enhancement

handle exceptions from duplicate UUID accessories when restoring cached accessories
  src/bridgeService.ts
Labels: none

update changelog
  CHANGELOG.md
Labels: none

hap-nodejs 0.9.3-beta.3
  package-lock.json
  package.json
Labels: enhancement

hap-nodejs@0.9.3-beta.5
  package-lock.json
  package.json
Labels: enhancement

hap-nodejs@0.9.3-beta.6
  package-lock.json
  package.json
  src/bridgeService.ts
Labels: enhancement

hap-nodejs@0.9.3-beta.8
  package-lock.json
  package.json
Labels: enhancement

add ipc message for homebridge status
  package-lock.json
  package.json
  src/ipcService.ts
  src/server.ts
Labels: enhancement

hap-nodejs@0.9.3-beta.12
  package-lock.json
  package.json
Labels: enhancement

hap-nodejs@0.9.3
  package-lock.json
  package.json
Labels: enhancement

set version back to 1.3.2 for pre-release
  package.json
Labels: enhancement

fix bad typo
  package.json
Labels: enhancement

Homebridge 1.3.3 (#2867)
  CHANGELOG.md
  package-lock.json
  package.json
  src/bridgeService.ts
  src/ipcService.ts
  src/server.ts
Labels: enhancement

update changelog
  CHANGELOG.md
Labels: none

.github/labeler.yml:

# Add 'website' to any changes to website files
website:
  - website/**/*
  - ./index.html
  - ./CNAME

# Add 'enhancement' to any file changes within 'lib' folder/subfolders and also main repo files
enhancement: 
  - lib/**/*
  - bin/**/*
  - ./index.js
  - ./package.json
  - ./pakcage-lock.json
  - ./README.md
  - ./config-sample.json
  
# Add 'workflow' to any changes within 'workflow' folder or any subfolders
workflow:
  - .github/workflows/**/*
