Repository homebridge/homebridge, changes with the labels that .github/labeler.yml gives for each.
All labels: website, enhancement, workflow

prepare for v1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: enhancement

Added link to multiple homebridge issue
  README.md
Labels: enhancement

Bump HAP-NodeJS to 0.7.4
  package-lock.json
  package.json
Labels: enhancement

Updated dependencies and devDependencies (chalk, commander, eslint, typescript, jest)
  package-lock.json
  package.json
  src/logger.ts
  src/platformAccessory.ts
  src/server.ts
  src/types/node-persist.d.ts
Labels: enhancement

1.1.1
  package-lock.json
  package.json
Labels: enhancement

beta test hap-nodejs v8
  package-lock.json
  package.json
Labels: enhancement

Updated hap-nodejs beta to add identifying material back to the accessory name
  package-lock.json
  package.json
Labels: enhancement

Pull in latest hap-nodejs beta 6
  package-lock.json
  package.json
Labels: enhancement

Pull in hap-nodejs v0.8.0-beta.8 adding support for mdns.interface and reverse address mapping
  package-lock.json
  package.json
Labels: enhancement

Backported v1.1.1
  package-lock.json
  package.json
Labels: enhancement

Updated the changelog
  CHANGELOG.md
Labels: none

update issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/support-request.md
  .github/homebridge-reddit.svg
  .github/stale.yml
Labels: none

bump beta version
  package.json
Labels: enhancement

bump beta version back
  package.json
Labels: enhancement

retag beta version
  package.json
Labels: enhancement

Replace explicit any with unkown
  src/server.ts
Labels: none

Replace explicit any with unkown (#2630)
  src/server.ts
Labels: none

Incorporate latest ciao beta release
  package-lock.json
  package.json
Labels: enhancement

remove cname
  CNAME
Labels: website

website moved to https://github.com/homebridge/homebridge.io
  index.html
  website/css/manifest.css
  website/gulpfile.js
  website/images/android-chrome-192x192.png
  website/images/android-chrome-512x512.png
  website/images/apple-touch-icon.png
  website/images/bg.jpg
  website/images/favicon-16x16.png
  website/images/favicon-32x32.png
  website/images/favicon.ico
  website/images/logo-masked.svg
  website/images/logo.svg
  website/images/logos.png
  website/images/raspberry-pi.svg
  website/manifest.webmanifest
  website/package.json
  website/scripts/custom.js
  website/scripts/lib/auto-complete.js
  website/scripts/lib/auto-complete.min.js
  website/scripts/lib/awesomplete.min.js
  website/scripts/lib/rellax.js
  website/styles/_autocomplete.scss
  website/styles/_block-find.scss
  website/styles/_buttons.scss
  website/styles/_layout.scss
  website/styles/_logo.scss
  website/styles/_masthead.scss
  website/styles/_reset.scss
  website/styles/_typography.scss
  website/styles/_variables.scss
  website/styles/manifest.scss
Labels: website

Bumped hap-nodejs beta
  package-lock.json
  package.json
Labels: enhancement

Fix @scoped plugin registration to avoid warnings
  src/pluginManager.ts
Labels: none

fix typo
  src/server.ts
Labels: none

fix @scoped - use identifier
  src/pluginManager.ts
Labels: none

Fix @scoped plugin registration to avoid warnings (#2646)
  src/pluginManager.ts
  src/server.ts
Labels: none

v1.1.2
  package-lock.json
  package.json
Labels: enhancement

add abitity to type an accessory context using generics
  src/platformAccessory.ts
Labels: none

Bump dependencies
  package-lock.json
  package.json
Labels: enhancement

1.1.3
  package-lock.json
  package.json
Labels: enhancement

Store commander options safely to avoid name collisions #2670
  src/cli.ts
Labels: none

1.1.4
  package-lock.json
  package.json
Labels: enhancement

Fixed method order for command object
  src/cli.ts
Labels: none

1.1.5
  package-lock.json
  package.json
Labels: enhancement

Revert to commander v5
  package-lock.json
  package.json
  src/cli.ts
Labels: enhancement

1.1.6
  package-lock.json
  package.json
Labels: enhancement

Release candidate 1
  package-lock.json
  package.json
Labels: enhancement

add abitity to type an accessory context using generics (#2664)
  src/platformAccessory.ts
Labels: none

Adjust spacing done to package.json when running prerelease script
  .github/workflows/prerelease.js
Labels: workflow

Prepare v1.2.0 release
  .github/workflows/nodejs-beta.yml
  .github/workflows/npmpublish-beta.yml
  .github/workflows/npmpublish.yml
  .github/workflows/prerelease.js
  .github/workflows/test.yml
  package-lock.json
  package.json
Labels: enhancement, workflow

1.2.0
  package-lock.json
  package.json
Labels: enhancement

.github/labeler.yml:

# Add 'website' to any changes to website files
website:
  - website/**/*
  - ./index.html
  - ./CNAME

# Add 'enhancement' to any file changes within 'lib' folder/subfolders and also main repo files
enhancement: 
  - lib/**/*
  - bin/**/*
  - ./index.js
  - ./package.json
  - ./pakcage-lock.json
  - ./README.md
  - ./config-sample.json
  
# Add 'workflow' to any changes within 'workflow' folder or any subfolders
workflow:
  - .github/workflows/**/*
