Repository homebridge/homebridge, changes with the labels that .github/labeler.yml gives for each.
All labels: website, enhancement, workflow

Bumped to hap-nodejs beta 71
  package-lock.json
  package.json
Labels: enhancement

default issue template
  .github/ISSUE_TEMPLATE.md
Labels: none

Bump hap-nodejs to beta 78
  package-lock.json
  package.json
Labels: enhancement

Bump hap-nodejs
  package-lock.json
  package.json
Labels: enhancement

fix(logger): consistently check Logger.debugEnabled
  src/logger.ts
Labels: none

Bump hap-nodejs beta
  package-lock.json
  package.json
  src/index.ts
Labels: enhancement

Bump dependencies
  package-lock.json
  package.json
Labels: enhancement

Regenerate docs
  docs/assets/css/main.css
  docs/assets/js/main.js
  docs/assets/js/search.js
  docs/classes/logger.html
  docs/classes/platformaccessory.html
  docs/classes/user.html
  docs/enums/apievent.html
  docs/enums/loglevel.html
  docs/enums/platformaccessoryevent.html
  docs/enums/plugintype.html
  docs/index.html
  docs/interfaces/accessoryconfig.html
  docs/interfaces/accessoryplugin.html
  docs/interfaces/accessorypluginconstructor.html
  docs/interfaces/api.html
  docs/interfaces/bridgeconfiguration.html
  docs/interfaces/dynamicplatformplugin.html
  docs/interfaces/externalportsconfiguration.html
  docs/interfaces/homebridgeconfig.html
  docs/interfaces/homebridgeoptions.html
  docs/interfaces/independentplatformplugin.html
  docs/interfaces/logging.html
  docs/interfaces/platformaccessory.html
  docs/interfaces/platformconfig.html
  docs/interfaces/platformpluginconstructor.html
  docs/interfaces/plugininitializer.html
  docs/interfaces/staticplatformplugin.html
  docs/modules.html
Labels: none

Bump to latest hap-nodejs beta
  package-lock.json
  package.json
Labels: enhancement

Update hap-nodejs to 0.8.3
  package-lock.json
  package.json
Labels: enhancement

Added latest releases to CHANGELOG
  CHANGELOG.md
Labels: none

1.2.4
  package-lock.json
  package.json
Labels: enhancement

Bump hap-nodejs to beta 89
  package-lock.json
  package.json
Labels: enhancement

Add mdns.legacyAdvertiser config option
  package-lock.json
  package.json
  src/server.ts
Labels: enhancement

Update hap-nodejs to 0.7.10
  package-lock.json
  package.json
Labels: enhancement

1.1.7
  package-lock.json
  package.json
Labels: enhancement

Incorporate ciao 1.1.2 beta line
  package-lock.json
  package.json
Labels: enhancement

Update HAP-NodeJS to v0.8.5
  CHANGELOG.md
  package-lock.json
  package.json
Labels: enhancement

1.2.5
  package-lock.json
  package.json
Labels: enhancement

Default to legacy advertiser
  package-lock.json
  package.json
  src/server.ts
Labels: enhancement

Regenerate docs
  README.md
  docs/assets/css/main.css
  docs/assets/js/main.js
  docs/classes/logger.html
  docs/classes/platformaccessory.html
  docs/classes/user.html
  docs/enums/apievent.html
  docs/enums/loglevel.html
  docs/enums/platformaccessoryevent.html
  docs/enums/plugintype.html
  docs/index.html
  docs/interfaces/accessoryconfig.html
  docs/interfaces/accessoryplugin.html
  docs/interfaces/accessorypluginconstructor.html
  docs/interfaces/api.html
  docs/interfaces/bridgeconfiguration.html
  docs/interfaces/dynamicplatformplugin.html
  docs/interfaces/externalportsconfiguration.html
  docs/interfaces/homebridgeconfig.html
  docs/interfaces/homebridgeoptions.html
  docs/interfaces/logging.html
  docs/interfaces/platformconfig.html
  docs/interfaces/platformpluginconstructor.html
  docs/interfaces/plugininitializer.html
  docs/interfaces/staticplatformplugin.html
  docs/modules.html
  src/platformAccessory.ts
Labels: enhancement

Fix external links in docs
  docs/classes/logger.html
  docs/classes/platformaccessory.html
  docs/classes/user.html
  docs/enums/apievent.html
  docs/enums/loglevel.html
  docs/enums/platformaccessoryevent.html
  docs/enums/plugintype.html
  docs/interfaces/accessoryconfig.html
  docs/interfaces/accessoryplugin.html
  docs/interfaces/accessorypluginconstructor.html
  docs/interfaces/api.html
  docs/interfaces/bridgeconfiguration.html
  docs/interfaces/dynamicplatformplugin.html
  docs/interfaces/externalportsconfiguration.html
  docs/interfaces/homebridgeconfig.html
  docs/interfaces/homebridgeoptions.html
  docs/interfaces/logging.html
  docs/interfaces/platformconfig.html
  docs/interfaces/platformpluginconstructor.html
  docs/interfaces/plugininitializer.html
  docs/interfaces/staticplatformplugin.html
  docs/modules.html
  package.json
  src/platformAccessory.ts
Labels: enhancement

Fix legacyAdvertiser overwrite
  src/server.ts
Labels: none

Imrpvoe versionGreaterOrEqual documentation formatting
  docs/classes/logger.html
  docs/classes/platformaccessory.html
  docs/classes/user.html
  docs/enums/apievent.html
  docs/enums/loglevel.html
  docs/enums/platformaccessoryevent.html
  docs/enums/plugintype.html
  docs/interfaces/accessoryconfig.html
  docs/interfaces/accessoryplugin.html
  docs/interfaces/accessorypluginconstructor.html
  docs/interfaces/api.html
  docs/interfaces/bridgeconfiguration.html
  docs/interfaces/dynamicplatformplugin.html
  docs/interfaces/externalportsconfiguration.html
  docs/interfaces/homebridgeconfig.html
  docs/interfaces/homebridgeoptions.html
  docs/interfaces/logging.html
  docs/interfaces/platformconfig.html
  docs/interfaces/platformpluginconstructor.html
  docs/interfaces/plugininitializer.html
  docs/interfaces/staticplatformplugin.html
  docs/modules.html
  package-lock.json
  package.json
  src/api.ts
Labels: enhancement

Properly export UnknownContext
  docs/assets/js/search.js
  docs/classes/logger.html
  docs/classes/platformaccessory.html
  docs/classes/user.html
  docs/enums/apievent.html
  docs/enums/loglevel.html
  docs/enums/platformaccessoryevent.html
  docs/enums/plugintype.html
  docs/index.html
  docs/interfaces/accessoryconfig.html
  docs/interfaces/accessoryplugin.html
  docs/interfaces/accessorypluginconstructor.html
  docs/interfaces/api.html
  docs/interfaces/bridgeconfiguration.html
  docs/interfaces/dynamicplatformplugin.html
  docs/interfaces/externalportsconfiguration.html
  docs/interfaces/homebridgeconfig.html
  docs/interfaces/homebridgeoptions.html
  docs/interfaces/independentplatformplugin.html
  docs/interfaces/logging.html
  docs/interfaces/platformconfig.html
  docs/interfaces/platformpluginconstructor.html
  docs/interfaces/plugininitializer.html
  docs/interfaces/staticplatformplugin.html
  docs/modules.html
  src/index.ts
Labels: none

Revert to package-lock version v1
  package-lock.json
Labels: none

Bump to hap-nodejs beta 99
  package-lock.json
  package.json
  src/server.ts
Labels: enhancement

Bump hap-nodejs to beta 104
  package-lock.json
  package.json
Labels: enhancement

Add CodeQL
  .github/workflows/codeql-analysis.yml
Labels: workflow

Bump to latest hap-nodejs beta 112
  package-lock.json
  package.json
Labels: enhancement

Added some logging to inform about which advertiser library is used
  package-lock.json
  package.json
Labels: enhancement

Add PR template
  .github/PULL_REQUEST_TEMPLATE/enhancement_pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/fix_pull_request_template.md
  .github/pull_request_template.md
Labels: none

Add feature to allow plugins to be soft-disabled without having to remove their config
  src/plugin.ts
  src/pluginManager.ts
  src/server.ts
Labels: none

add missing quote
  src/server.ts
Labels: none

Prevent characteristic warnings to be printed twice.
  src/server.ts
Labels: none

Add support for the new .removeController(controller:) API on Accessory
  src/platformAccessory.ts
Labels: none

Bump hap-nodejs beta
  package-lock.json
  package.json
Labels: enhancement

feat: soft-disable plugins - address review comments
  src/pluginManager.ts
  src/server.ts
Labels: none

POC: optional external bridge for each plugin
  nodemon.json
  package-lock.json
  package.json
  src/api.spec.ts
  src/api.ts
  src/bridgeService.ts
  src/childPluginFork.ts
  src/childPluginService.ts
  src/cli.ts
  src/index.ts
  src/platformAccessory.spec.ts
  src/platformAccessory.ts
  src/pluginManager.ts
  src/pluginmanager.spec.ts
  src/server.ts
  src/storageService.ts
  src/types/node-persist.d.ts
  src/user.spec.ts
  src/util/mac.spec.ts
  src/version.spec.ts
  tsconfig.json
Labels: enhancement

fix storage path for forked plugins
  src/childPluginFork.ts
  src/childPluginService.ts
Labels: none

.github/labeler.yml:

# Add 'website' to any changes to website files
website:
  - website/**/*
  - ./index.html
  - ./CNAME

# Add 'enhancement' to any file changes within 'lib' folder/subfolders and also main repo files
enhancement: 
  - lib/**/*
  - bin/**/*
  - ./index.js
  - ./package.json
  - ./pakcage-lock.json
  - ./README.md
  - ./config-sample.json
  
# Add 'workflow' to any changes within 'workflow' folder or any subfolders
workflow:
  - .github/workflows/**/*
