Repository homebridge/homebridge, changes with the labels that .github/labeler.yml gives for each.
All labels: website, enhancement, workflow

.github/labeler.yml:

# Add 'website' to any changes to website files
website:
  - website/**/*
  - ./index.html
  - ./CNAME

# Add 'enhancement' to any file changes within 'lib' folder/subfolders and also main repo files
enhancement: 
  - lib/**/*
  - bin/**/*
  - ./index.js
  - ./package.json
  - ./pakcage-lock.json
  - ./README.md
  - ./config-sample.json
  
# Add 'workflow' to any changes within 'workflow' folder or any subfolders
workflow:
  - .github/workflows/**/*

Update README.md
  README.md
Labels: enhancement

Add modules & authriazation
  server/README.md
  server/package-lock.json
  server/package.json
  server/public/index.html
  server/routes/router.js
  server/server.js
Labels: none

Move to hap-nodejs 0.11.1
  package-lock.json
  package.json
Labels: enhancement

Bump hap-nodejs beta
  package-lock.json
  package.json
Labels: enhancement

Switch to hap-nodejs 0.11.1 release
  package-lock.json
  package.json
Labels: enhancement

1.6.1
  package-lock.json
  package.json
Labels: enhancement

Add GitHub CI badge to README
  .github/FUNDING.yml
  README.md
Labels: enhancement

Implement opt-in environment variable replacement during config load
  src/bridgeService.ts
  src/server.spec.ts
  src/server.ts
  src/util/replacer.spec.ts
  src/util/replacer.ts
Labels: none

Externalize interface for replacing variables in config
  src/bridgeService.ts
  src/server.spec.ts
  src/server.ts
  src/util/replacer.spec.ts
  src/util/replacer.ts
Labels: none

Add a ValueProvider that reads from a secrets file
  src/server.ts
  src/user.ts
  src/util/replacer.spec.ts
  src/util/replacer.ts
Labels: none

Create chatbot
  server/chat/bots.js
Labels: none

Create check
  server/chat/check
Labels: none

Create SECURITY.md
  SECURITY.md
Labels: none

chore: update dependencies
  .gitignore
  package-lock.json
  package.json
Labels: enhancement

Update package.json
  package.json
Labels: enhancement

node 18/20
  package-lock.json
  package.json
Labels: enhancement

branch `master` to `latest`
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release-drafter.yml
  README.md
  docs/index.html
Labels: enhancement, workflow

branch `master` to `latest` (#3439)
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release-drafter.yml
  README.md
  docs/index.html
Labels: enhancement, workflow

workflow to .github latest branch
  .github/workflows/beta-release.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
Labels: workflow

update workflow to .github's branch latest
  .github/workflows/beta-release.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
Labels: workflow

patch/minor dep updates
  .gitignore
  package-lock.json
  package.json
Labels: enhancement

some major dep updates
  .eslintrc
  package-lock.json
  package.json
  src/childBridgeService.ts
  src/ipcService.ts
  tsconfig.json
Labels: enhancement

some major dep updates (#3460)
  .eslintrc
  package-lock.json
  package.json
  src/childBridgeService.ts
  src/ipcService.ts
  tsconfig.json
Labels: enhancement

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

update patch/minor dependencies (#3459)
  .eslintrc
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release-drafter.yml
  .gitignore
  README.md
  docs/index.html
  package-lock.json
  package.json
  src/childBridgeService.ts
  src/ipcService.ts
  tsconfig.json
Labels: enhancement, workflow

update changelog
  CHANGELOG.md
  package-lock.json
Labels: none

Update package.json
  package.json
Labels: enhancement

dependency updates
  package-lock.json
  package.json
Labels: enhancement

v1.7.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: enhancement

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

beta -> latest (#3467)
  .eslintrc
  .gitignore
  CHANGELOG.md
  package-lock.json
  package.json
  src/childBridgeService.ts
  src/ipcService.ts
  tsconfig.json
Labels: enhancement

updated dependencies
  package-lock.json
  package.json
  src/cli.ts
Labels: enhancement

updated dependencies (#3494)
  package-lock.json
  package.json
  src/cli.ts
Labels: enhancement

Fix broken tests
  src/server.spec.ts
Labels: none

allow for FirmwareRevision override in config.
  src/bridgeService.ts
  src/childBridgeService.ts
Labels: none

add labeler v5
  .github/workflows/labeler.yml
Labels: workflow
